@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
:root{
    /* colors  */
    --primaryColor:#fff;
    --secondaryColor:#FD1AFD;
    --cardShadowColor:#f25ff2;
    --spanTxtColor:#FD1AFD;
    --btnHoverColor:#FD1AFD;
    --btnTxtColor:#FD1AFD;
    --btnHoverTxtColor:#fff;

    /* texts  */
    --fs-card-header:32px;
    --fs-card-header-des:16px;
    --fs-card-body-header:18px;
    --fs-card-body-header-des:24px;
    --fs-card-btn:16px;
    --fw-card-btn:500;
}
*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primaryColor);
}

/* card  */
.card{
    height: 500px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 20px;
    box-shadow: 3.4px 3.4px 2.7px rgba(253, 26, 253, 0.021),
    8.7px 8.7px 6.9px rgba(253, 26, 253, 0.03),
    17.7px 17.7px 14.2px rgba(253, 26, 253, 0.038),
    36.5px 36.5px 29.2px rgba(253, 26, 253, 0.047),
    100px 100px 80px rgba(253, 26, 253, 0.07);
    overflow: hidden;
}

/* card background  */
.card .card-bg{
    height: 100%;
    width: 100%;
    position: absolute;
    animation: card-bg 1s ease forwards;
    background: var(--primaryColor);
    background: linear-gradient(0deg, var(--primaryColor) 20%, var(--secondaryColor) 100%);
    z-index: 1;
    border-radius: 20px;
}
.card-img,
.card-header,
.card-body,
.card-btn{
    z-index: 10;
    padding: 10px 20px;
    opacity: 0;
    animation: card-loader 1s ease forwards;
    animation-delay: 1s;
}

/* profile image  */
.card-img{
    height: 35%;
    width: 100%;
    padding-top: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.profile-img{
    height: 100%;
    width: auto;
    border-radius: 50%;
}

/* card header  */
.card-header{
    height: 10%;
    width: 100%;
    text-align: center;
}
.card-header .profile-name{
    font-size: var(--fs-card-header);
}
.card-header .profile-description{
    font-size: var(--fs-card-header-des);
}

/* card body  */
.card-body{
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}
.card-body .like-section h3,
.card-body .follow-section h3{
    font-size: var(--fs-card-body-header);
}
.card-body .like-section h2,
.card-body .follow-section h2{
    font-size: var(--fs-card-body-header-des);
}
.card-body span{
    color: var(--secondaryColor);
}
.card-body .divider{
    height: 80%;
    width: 5px;
    background-color: var(--secondaryColor);
}

/* social media button section  */
.card-btn{
    height: 15%;
    width: 100%;    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
}

.icon-group{
    height: 100%;
    width: 100% ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    cursor: pointer;
    color: var(--btnTxtColor);
}
.icon{
    font-size: 1.5rem;
}
.icon-txt{
    font-weight: bold;
}
.icon,
.icon-txt{
    z-index: 10;
}
.icon-bg{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    clip-path: circle(50% at -50% 50%);
    z-index: 1;
    transition: clip-path 2s  ease forwards;
    background-color: var(--secondaryColor);
}

.hidden{
    display: none;
}
.show{
    display: block;
}


@media screen and (max-width:678px) {
    :root{
        /* texts  */
        --fs-card-header:24px;
        --fs-card-header-des:12px;
        --fs-card-body-header:12px;
        --fs-card-body-header-des:24px;
        --fs-card-btn:12px;
        --fw-card-btn:500;
    }
    .card{
        height: 600px;
        width: 350px;
    }
    .card .card-bg{
        width: 100%;
    }
    .card-img,
    .card-header,
    .card-body,
    .card-btn{
        padding: 10px;
    }

    .icon-group{
        flex-direction: column;
    }
}


@media screen and (max-width:375px) {
    :root{
        /* texts  */
        --fs-card-header:24px;
        --fs-card-header-des:12px;
        --fs-card-body-header:12px;
        --fs-card-body-header-des:24px;
        --fs-card-btn:12px;
        --fw-card-btn:500;
    }
    .card{
        height: 600px;
        width: 300px;
    }
    .card .card-bg{
        width: 100%;
    }
    .card-img,
    .card-header,
    .card-body,
    .card-btn{
        padding: 10px;
    }

    .card-btn{
        height: 30%;
        flex-direction: column;
    }
    .icon-group{
        padding: 0 20px;
    }
}

@keyframes card-loader {
    0%{
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes card-bg {
    0%{
        clip-path: circle(0% at 50% 0);
    }
    100%{
        clip-path: circle(55% at 50% 0);
    }
}

